# Directories and files that cannot be commited to git

# Byte-compiled
__pycache__

# Distribution / packaging

# Logs
*.log

# Editors
.idea
.vscode

# Environments
venv
.venv
env
.env

#  Temp / Cache
cache
.cache
temp
.temp

Database
